/* 
      Project : Tic Tac Toe
      @Author : Shyam Butani (butanishyam111@gmail.com)
 */


/* ----------------- Common classes ----------------------- */

.border-top {
  border-top: 5px ridge rgb(160, 236, 160);
}

.border-bottom {
  border-bottom: 5px ridge rgb(160, 236, 160);
}

.border-left {
  border-left: 5px ridge rgb(160, 236, 160);
}

.border-right {
  border-right: 5px ridge rgb(160, 236, 160);
}

.border1 {
  border: 5px ridge rgb(160, 236, 160);
}


/* ----------------------- Regular classes ----------------------- */


/* Size of the screen */
#main {
  width: 70%;
  max-width: 500px;
  height: auto;
  margin: 2% auto;
  padding: 0 2%;
  border: 4px solid black;
  border-radius: 10px;
}

/* Title */
#top {
  text-align: center;
}

/* Winner status */
#msg-on-top {
  display: block;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin: 15px auto;
  background-color: rgb(158, 240, 158);
  border-radius: 15px;
}

.row {
  display: flex;
  justify-content: center;
}

/* Boxes to mark */
#screen span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 5rem;
  width: 25%;
  background-color: white;
  cursor: pointer;
}

#screen span:before {
  content: "";
  padding-top: 100%;
}

#screen span:hover {
  background-color: rgb(137, 218, 137);
}

#user-name,
#new-game-btn {
  display: flex;
}

.user,
#new-game-btn {
  width: 35%;
  height: auto;
  text-align: center;
  font-size: 1.3rem;
  border: 3px solid green;
  border-radius: 5px;
  margin: 3% auto;
  padding: 1% 0;
}

#user1 {
  background-color: rgb(137, 218, 137);
}

#new-game-btn {
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  width: 30%;
  background-color: rgb(49, 11, 44);
  cursor: pointer;
}

/* ----------------------- For Medium screen ----------------------- */

@media (max-width: 560px) {
  #main {
    width: 95%;
    padding: 1%;
  }

  #msg-on-top {
    font-size: 1.3rem;
  }

  #screen span {
    font-size: 4rem;
  }

  .user {
    font-size: 1.1rem;
  }

  #new-game-btn {
    font-size: 1rem;
    width: 40%;
  }
}

/* ----------------------- For smaller screen ----------------------- */

@media (max-width: 460px) {
  #screen span {
    font-size: 3.5rem;
  }
}